<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Escolha um Script{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Dinâmico</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
</head>

<div class="container">
    <h1>Escolha um Script para Executar</h1>
    <form action="/execute" method="get">
        <select name="script">
            {% for script in scripts %}
            <option value="{{ script }}">{{ script }}</option>
            {% endfor %}
        </select>
        <select name="display">
            <option value="tabela">Tabela</option>
            <option value="barras">Gráfico de Barras</option>
            <option value="pizza">Gráfico de Pizza</option>
        </select>
        <input type="submit" value="Executar">
    </form>

</div>

<div id="calendar"></div>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // Opções e eventos do calendário aqui
            defaultView: 'month',
        });
    });
</script>

{% endblock %}
